body {
  padding-top: 5rem;
}

tr.info {
  text-align: center;
  color: #bbb;
  font-style: italic;
}

td.r, th.r {
  text-align: right;
}

.beer-info {
  width: 18rem;
  float: right;
}

h1 {
  border-bottom: 1px solid #ddd;
}

h2 {
  border-bottom: 1px solid #ddd;
  text-align: center;
}

.bottles {
  list-style: none;
  display: flex;
  padding-left: 0;
  justify-content: start;
  flex-wrap: wrap;
}

.bottles li {
  margin: 1rem;
}

button img {
  text-align: center;
  display: block;
  border: none;
  width: auto;
  height: 64px;
}

.shelf {
  list-style: none;
  display: flex;
  padding-left: 0;
  justify-content: start;
  flex-wrap: wrap;
}

.shelf button {
  float: left;
  margin-right: 2em;
}

.shelf li {
  display: inline-block;
  min-width: 30em;
  padding: 0.1em 1em;
}

.shelf li p {
  margin: 0;
}

.shelf li p .r {
  float: right;
}

.empty {
  color: #555;
  font-style: oblique;
  text-align: center;
}
