tr.info {
  text-align: center;
  color: #bbb;
  font-style: italic;
}

td.r, th.r {
  text-align: right;
}

.beer-info {
  float: right;
  width: 18rem;
  margin-top: -2rem;
}

.bottles {
  list-style: none;
  display: flex;
  padding-left: 0;
}

.bottles li {
  display: inline;
  margin: 1rem;
}

.bottles button img {
  text-align: center;
  display: block;
  border: none;
  width: auto;
  height: 64px;
}
